#carousel {
	margin: 0 auto;
	height: 270px;
	width: 400px;
	border-style: double;
	overflow: hidden;
}

#carousel ul {
	padding: 0;
	margin: 0;	
	width: 2000px;
}

#carousel ul li {
	float: left;
	margin: 0 auto;
	list-style-type: none;
}

#carousel ul li img {
	width: 400px;
	height: 270px;
}

